<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pachimari Accueil</title>
  <% include ./partials/header %>
</head>
<body>

<% include ./partials/navbar %>

<div class="row>">
  <div class="col-md-offset-5 col-md-4">
    <a href="/product" class="btn btn-warning btn-lg">Voir tous les produits <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</div>

<% include ./partials/footer %>

</body>
</html>

